html {
    box-sizing: border-box;
    scroll-behavior: smooth
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.heading {
    color: #000000;
    background-color: #2fffdc85;
    text-shadow: 5px -2px 9px rgba(53, 62, 141, 0.39);
    box-shadow: 9px 5px 13px 0px rgb(97, 64, 138);
    padding: 5px 10px;
}

.button {
    color: #170c0cb3;
}

.header {
    text-align: left;
    background-color: #00ffd585;
    font-style: italic;
    text-shadow: 11px 6px 20px rgb(116 68 68);
}

.logo {
    color: #000000;
    margin: 0px;
    padding: 2% 0% 0% 2%;

}

.subLogo {
    color: #000000a4;
    margin: 0px;
    padding: 0% 0% 0% 2%
}

.navigation {
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin: 0px 10px;
}

.navigation__item {
    color: #1e3131;
    text-decoration: none;
    padding: 10px;
}

.navigation__item:focus {
    outline: 3px solid rgb(1, 1, 8);
}

.navigation__item:hover {
    color: #1d2726;
    border-bottom: 2px solid;
    outline: none;
}

.navigation__item:active {
    color: rgb(54, 42, 165);
}

.navigation {
    background-color: #b0fff4ba;
    padding: 20px;
}

.tableContainer {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    margin: auto;
}

.tableCall {
    border: 1px solid rgb(37, 12, 58);
    padding: 10px;
}

.tableCall:hover {
    background-color: rgba(243, 243, 243, 0.669);
}

.caption {
    margin-bottom: 10px;
    font-weight: bold;
}

.tableHeader {
    background-color: rgba(34, 97, 92, 0.555);
    border: 1px solid rgb(34, 9, 58);
}

.listContainer {
    max-width: 200px;
    display: inline;
}

.list {
    margin: 0px;
    padding: 0px;
}

.listItem {
    margin: 5px;
    list-style-position: inside;
    list-style-type: none;
}

.topListItem {
    border: 1px solid rgb(33, 9, 53);
    list-style-position: inside;
    list-style-type: none;
    font-weight: bold;
}

.show {
    display: none;
}